.footer{
    width: 100%;
    background-color: #183661;
    padding: 70px 0px;
    padding-top: 170px;

    .col-lg-3{
        width: 23%;
        margin-bottom: 20px;

        .footer_para{
            padding: 13px;
            h3{
             color: #fff;
             font-weight: bold;
             margin-bottom: 20px;
            }
            p{
                font-size: 21px;
                color: #fff;
            }
        }
    }
    
}